<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="Odin-app"></div>
    <script src="bundle.js" ></script>
    <%if(current_account.id){%>
      <input type="hidden" data-userId=<%=current_account.id%> />
    <%}%>
  </body>
</html>
