<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="Odin-app"></div>
    <script src="bundle.js" ></script>
  </body>
</html>
