<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="Odin-app"></div>
    <% if (current_account) { %>
      <script>
        <% var name = <%=current_account.name%> %>
      </script>
    <% } %>
    <script src="bundle.js" ></script>
  </body>
</html>
