<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="Odin-app"></div>
    
    <%if(current_account&&current_account.id){%>
      <input type="hidden" id="OD-account-info" data-user-id=<%=current_account.id%> data-user-name=<%=current_account.nick_name%> data-user-avatar=<%=current_account.avatar%> />
    <%}%>
    <script src="bundle.js" ></script>
  </body>
</html>
