$white: #ffffff;
$bg_gray: #f3f3f4;
$menu_side_blue: #2F4050;
$dark: #2b2b2b;
$heavy-green: #18A689;
$button-blue: #2BAEE9;

@define-mixin border-radius $leftTop, $rightTop, $leftBottom, $rightBottom {
   -moz-border-radius: $leftTop $rightTop $leftBottom $rightBottom;
  -webkit-border-radius: $leftTop $rightTop $leftBottom $rightBottom;
  border-radius: $leftTop $rightTop $leftBottom $rightBottom;
};