$white: #ffffff;
$bg_gray: #f3f3f4;
$code_bg_gray: #f7f7f7;
$menu_side_blue: #2F4050;
$dark_menu_side_blue: #2A3B4C;
$dark: #2b2b2b;
$heavy-green: #18A689;
$button-blue: #0868ac;
$light-blue: #2db7f5;
$red: #f12626;
$border-gray: #acacac;
$border-gray-light: #d9d9d9;


@define-mixin border-radius $leftTop, $rightTop, $leftBottom, $rightBottom {
   -moz-border-radius: $leftTop $rightTop $leftBottom $rightBottom;
  -webkit-border-radius: $leftTop $rightTop $leftBottom $rightBottom;
  border-radius: $leftTop $rightTop $leftBottom $rightBottom;
};

@define-mixin clearfix {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

@define-mixin gradient $angle $color1 $color2 $color3 {
  background: linear-gradient($angle, $color1, $color2, $color3);
  background: -webkit-linear-gradient($angle, $color1, $color2, $color3);
  background: -moz-linear-gradient($angle, $color1, $color2, $color3);
  background: -ms-linear-gradient($angle, $color1, $color2, $color3);
}