@import "./base.css";

.OD-editor-container{
  position: relative;
  .OD-editor-tooltips{
    padding: 15px;
  }
  .content{
    float: left;
    width: 50%;
    textarea{
      height: 350px;
      border: 1px solid $border-gray;
      resize: none;
      background: $menu_side_blue;
      color: $white;
      padding: 10px;
    }
  }
  .preview{
    float: left;
    width: 50%;
    height: 350px;
  }
  &:after{
    @mixin clearfix;
  }
  
}