@import "./base.css";

.OD-editor-container{
  position: relative;
  .OD-editor-toolbar{
    padding: 15px;
    .OD-editor-button{
      display: inline-block;
    }
  }
  .content{
    float: left;
    width: 100%;
    height: 350px;
    textarea{
      font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro';
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      resize: none;
      background: $menu_side_blue;
      color: $white;
      padding: 10px;
    }
  }
  .fold{
    width: 50%;
  }
  .preview{
    float: left;
    box-sizing: border-box;
    width: 0;
    height: 350px;
  }
  .show{
    width: 50%;
    padding: 10px;
  }
  &:after{
    @mixin clearfix;
  }
  
}