@import './base.css';

.main-container{
  .main-menu-side{
    position:absolute;
    min-height: 100%;
    width:230px;
    background: $menu_side_blue;
    .ant-menu-inline{
      border-color: $menu_side_blue;
      .ant-menu-item{
        border-color: $menu_side_blue;
      }
      .ant-menu-item > a{
        color: $white;
      }
      .ant-menu-item-selected > a{
        color: $light-blue;
      }
    }
    .main-menu-person-card{
      padding: 20px 10px;
      .person-avatar{
        height: 80px;
        width: 80px;
        overflow: hidden;
        margin: 0 auto;
        @mixin border-radius 40px 40px 40px 40px;
        img{
          max-width: 80px;
          max-height: 80px;
        }
      }
      .person-name{
        font-size: 16px;
        color: $white;
        text-align: center;
        padding:20px 0;
      }
    }
    .ant-menu{
      background-color: $menu_side_blue;
      .ant-menu-submenu-title{
        background-color: $dark_menu_side_blue;
        color: $white;
      }
      li{
        color: $white;
      }
      .ant-menu-item-active{
        background: $dark_menu_side_blue;
      }
      .ant-menu-item-selected{
        color: $light-blue;
      }
    }
  }
  .main-menu-container{
    margin-left: 230px;
    .main-menu-content-title{
      min-height: 40px;
      padding: 10px;
      .anticon{
        font-size: 26px;
        color: $heavy-green;
        cursor: pointer;
      }
      .right{
        line-height: 28px;
        float: right;
        .anticon{
          font-size: 26px;
        }
      }
    }
    .main-menu-content{
      padding: 30px;
    }
  }
}
