@import './base.css';

.OD-main-menu-container{
  height: 100vh;
  .OD-main-menu-side{
    overflow: auto;
    .main-menu-person-card{
      padding: 20px 10px;
      .person-avatar{
        height: 80px;
        width: 80px;
        overflow: hidden;
        margin: 0 auto;
        @mixin border-radius 40px 40px 40px 40px;
        img{
          max-width: 80px;
          max-height: 80px;
        }
      }
      .person-name{
        font-size: 16px;
        color: $white;
        text-align: center;
        padding:20px 0;
      }
    }
  }
  .OD-main-menu-header{
    background: $white;
    .trigger{
      font-size: 18px;
    }
  }
  .OD-main-menu-content{
    background: $white;
    margin: 24px 16px 0;
    padding: 26px;
  }
  .OD-main-menu-footer{
    text-align: center;
  }
}
