*{
  padding: 0;
  margin: 0;
}

body, html{
  height: 100%;
}

body {
  font: 14px "Arial", "Microsoft YaHei UI", "Microsoft YaHei", sans-serif;
}

a {
  color: #00B7FF;
}

#Odin-app {
  min-height:100%;
}



